name: Artifacts

on:
  release:
    types: [ published ]
  workflow_dispatch:
    branches: [ main ]

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: dart-lang/setup-dart@v1
      - name: Dart SDK
        run: dart --version
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: dart pub get
      - name: Build Artifact
        run: dart compile exe bin/main.dart -o bin/spider
      - name: Archive
        run: tar -czf spider-${{ github.event.release.tag_name }}-linux-amd64.tar.gz bin/spider
      - uses: actions/upload-artifact@v2
        with:
          path: spider-${{ github.event.release.tag_name }}-linux-amd64.tar.gz

  mac:
    runs-on: macos-latest
    steps:
      - uses: dart-lang/setup-dart@v1
      - name: Dart SDK
        run: dart --version
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: dart pub get
      - name: Build Artifact
        run: dart compile exe bin/main.dart -o bin/spider
      - name: Archive
        run: tar -czf spider-${{ github.event.release.tag_name }}-macos.tar.gz bin/spider
      - uses: actions/upload-artifact@v2
        with:
          path: spider-${{ github.event.release.tag_name }}-macos.tar.gz

  windows:
    runs-on: windows-latest

    steps:
      - uses: dart-lang/setup-dart@v1
      - name: Dart SDK
        run: dart --version
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: dart pub get
      - name: Build Artifact
        run: dart compile exe bin/main.dart -o bin/spider.exe
      - name: Archive
        run: tar.exe -a -c -f spider-${{ github.event.release.tag_name }}-windows.zip bin/spider.exe
      - uses: actions/upload-artifact@v2
        with:
          path: spider-${{ github.event.release.tag_name }}-windows.zip

  upload:
    needs: [ ubuntu, mac, windows ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          path: dist
      - name: Display structure of downloaded files
        run: ls -R dist
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/artifact/*
          tag: ${{ github.ref }}
          file_glob: true
