name: Tests

on:
  push:
    paths:
      - '**.dart'
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:
  workflow_dispatch:

jobs:
  tests_and_coverage:
    runs-on: macos-latest
    steps:
      - name: Tap Google's Dart formula repository
        run: brew tap dart-lang/dart
      - name: Install the Dart formula
        run: brew install dart
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: dart pub get
      - name: Activate Test Coverage
        run: dart pub global activate test_coverage
      - name: Run Tests & Generate Coverage
        run: dart pub global run test_coverage .
      - uses: codecov/codecov-action@v1
        with:
          file: coverage/lcov.info